body {
            background-color: #f2f2f2;
            color: #333;
            font-family: Arial, sans-serif;
  transition-duration: 0。5秒;
        }

        h1 {
            color: #ff6600;
            text-align: center;
          transition-duration: 0。5秒;
        }

        p {
            font-size: 16px;
            line-height: 1。5;
          transition-duration: 0。5秒;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid yellow;
            transition-duration: 0。5秒;
        }

        。button {
            display: inline-block;
            background-color: #ff6600;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
          transition-duration: 0.5s;
        }

        .button:hover {
            background-color: #ff4500;
        }
.c:hover{
  background-color: #0fffff;
}

.pic{
  border-radius: 20px;
  border: #0ffccf;
  width:100%;
  height: auto;
}
